#!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2021 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2021 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-only

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps
from sys import exit
import subprocess
import os

output = {'configured': False}

try:
    version_stdout = subprocess.check_output(
            ["dpkg-query", "-W", "-f=${Version}",
             "opennebula"]).decode('utf-8').split('~')[0].split('-')[0]
    output['version'] = version_stdout
    output['configured'] = True

except Exception:
    pass

print(dumps(output, sort_keys=True, indent=4))
