#!/usr/bin/env python

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
from sys import exit
import os

output = loads('''{
    "core_fqdn": "{{ opennebula_common__core_fqdn }}",
    "domain": "{{ opennebula_common__domain }}",
    "group": "{{ opennebula_common__group }}",
    "home": "{{ opennebula_common__home }}",
    "user": "{{ opennebula_common__user }}"
}''')

# Check if OpenNebula admin known_hosts file exists
if (os.path.isfile(output["home"] + "/.ssh/known_hosts") and
        os.access(output["home"] + "/.ssh/known_hosts", os.R_OK)):
    output.update({"known_hosts": True})
else:
    output.update({"known_hosts": False})

print(dumps(output, sort_keys=True, indent=2))
